/* Estilos comunes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
}

.sidebar {
    width: 200px;
    background: #555;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Inventory, .Sales, .Buy, .Configuration {
    width: 100%;
    color: white;
    padding: 12px;
    background: #777;
    cursor: pointer;
    margin: 5px 0;
    border: none;
}

.logout {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: auto;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.top-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
